$color-main:#31353e;
$color-hover:#dd4b2b;
$color-hover-2:#edeff1;
$color-header:#edeff1;
$color-text:#ffffff;
$color-button-1:#612316;
$color-border:#c8c8c6;
$color-hover-3:#10ae32;
$color-button-2:#4b4e73;
$color-footer:#d75d0e;




@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');